@import url("./cssreset.css");

.reviewsection {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: League Spartan;
  background-image: url("../images/bg-pattern-bottom-desktop.svg");
  background-size: cover cover;
  background-color: white;
  border-radius: 15px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.texts {
  max-width: 53%;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.9;
  color: var(--clr-magenta);
}

.description {
  color: var(--clr-darkgrayish-magenta);
  margin: 2rem 0 2rem 0;
  font-size: 1.6rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 2.5rem;
}

.reviewbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  background-color: var(--clr-lightgrayish-magenta);
  color: var(--clr-magenta);
  font-weight: 800;
  border-radius: 0.8rem;
  padding: 1rem 2rem;

  & .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
  }
}

.review1 {
  margin-left: -6rem;
}

.review2 {
  margin-left: -3rem;
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 3rem;
  align-items: start;
}

.commentbox {
  background-color: var(--clr-magenta);
  color: var(--clr-white);
  border-radius: 0.5rem;
  padding: 3rem 3rem 3rem 3rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 0 0 2.3rem 0;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  & h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: -0.2rem;
  }
}
.profile-text h4 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--clr-pink);
}
.commentbox p {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
}

.comment2 {
  margin-top: 2rem;
}
.comment3 {
  margin-top: 4rem;
}
