@import url("base.css");

html {
  line-break: auto;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-blue100);
  display: flex;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  height: max-content;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-section {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}

.content-section {
  padding: 0 30px 30px 30px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 900;
  color: var(--clr-blue950);
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-gray600);
  margin-bottom: 25px;
  line-height: 1.5;
}

.plan-info {
  background-color: var(--clr-blue50);
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.plan-info-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.plan-name {
  font-weight: 900;
  font-size: 16px;
  color: var(--clr-blue950);
}

.plan-price {
  font-weight: 600;
  font-size: 16px;
  color: var(--clr-gray600);
}

.change-link {
  font-weight: 800;
  font-size: 14px;
  color: var(--clr-blue700);
  text-decoration: underline;
  cursor: pointer;
}
.change-link:hover {
  color: hsl(245, 91%, 70%);
  transition: color 0.3s ease;
}

.btn-payment {
  width: 100%;
  padding: 15px 0;
  background-color: var(--clr-blue700);
  color: white;
  font-weight: 900;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(72, 63, 246, 0.3);
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}
.btn-payment:hover {
  background-color: hsl(245, 91%, 70%);
  transition: color 0.5s ease;
}

.btn-cancel {
  background: none;
  border: none;
  color: var(--clr-gray600);
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.btn-cancel:hover {
  color: var(--clr-blue950);
  transition: color 0.3s ease;
}
